<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CMBC.EasyFactor.Properties.Settings.FOSConnectionString"
      connectionString="Data Source=YIMING\SQLEXPRESS;Initial Catalog=FOS;Persist Security Info=True;User ID=Factoring;Password=gnirotcaF"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
